/* highest priority global variable declartions */
:root {
	--white-color: #ffffff;
	--green-color: #495126;
	--purple-color: #665083;
	--blackish-green: #24290e;
	--whitish-green: #66695a;
}

/* next highest global styles declaration */
* {
	/* border: 1px solid var(--purple-color); */
	line-height: 1.5;
}

body {
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: var(--whitish-green);
}

a {
	/* ensures no underline and browsers default blue color appears on our links */
	text-decoration: none;
	color: inherit;
}

/* lower priority - stylings directly related to our index page */

/* main section styling */
main {
	margin-top: 110px;
}

main section {
	display: flex;
	flex-wrap: wrap;
	min-height: 30vh;
	padding: 2%;
	border: 1px solid lightgrey;
	border-radius: 20px;
	box-shadow: 0px 4px 6px 0px grey;
	margin: 0 2% 50px 2%;
}

.article-heading {
	flex: 1;
	border-right: 4px dashed var(--green-color);
}

.article-heading h3 {
	font-size: 1.6rem;
	line-height: 2;
}

.article-content {
	flex: 4;
}

.article-content article {
	padding-right: 20px;
	padding-left: 20px;
}

.article-content article h1 {
	padding-top: 0;
	font-size: 3rem;
	color: var(--blackish-green);
}

.article-content article h2 {
	font-size: 2rem;
	color: var(--blackish-green);
}

.article-content article p {
	line-height: 2;
	margin-bottom: 10px;
}

/* media query for screens below 760px */
@media screen and (max-width: 760px) {
	.article-content article h1 {
		font-size: 2rem;
		border-bottom: 2px dotted var(--green-color);
		text-align: center;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}

	.article-content article h2 {
		font-size: 1.6rem;
		border-bottom: 2px dotted var(--green-color);
		text-align: center;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}

	.article-content article p {
		text-align: center;
	}

	/* reduce the margin top for our main section */
	main {
		margin-top: 30px;
	}

	/* hide every article heading - there's really no need for it on mobile */
	.article-heading {
		display: none;
	}
}
